<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDoList</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>

        <!-- main -->
        <main id="root">

            <section class="todolist">
                <h1>To-Do List</h1>
                <ul>
                    <li v-for="(todo, index) in TodoList" @click="check"> {{ todo }} <i class="far fa-square"></i> </li>
                </ul>

            </section>

            <section>

                <article class="dolist">
                    <ul>
                        <li v-for="(todo, index) in TodoList"> {{ todo }} <i class="far fa-check-square"></i> </li>
                    </ul>
                </article>

                <article class="timetodolist">
    
                    <ul>
                        <li v-for="(todo, index) in TodoList"> {{ todo }} </li>
                    </ul>
    
                </article>

            </section>
            

        </main>
        <!-- main -->

        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>